@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --card-bg-color: hsl(300, 43%, 22%);
    --verified-color: hsl(333, 80%, 67%);
    --header-text-color: hsl(303, 10%, 53%);
    --buyer-text-color: hsl(300, 24%, 96%);
    --buyer-name-color: hsl(0, 0%, 100%)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-content: start;
    padding: 8.2rem 2.4rem 0 2.4rem;
    background-image:
        url(../images/bg-pattern-top-mobile.svg),
        url(../images/bg-pattern-bottom-mobile.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

.social-proof {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.6rem;
}

.header {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2.5rem;
    text-align: center;
    padding: 0 0.5rem;
}

.header__heading {
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 100%;
    color: var(--card-bg-color);
}

.header__text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: var(--header-text-color);
}

.ratings {
    margin-top: 2.4rem;
    margin-bottom: 3.3rem;
    display: grid;
    row-gap: 1.6rem;
    text-align: center;
}

.ratings__block {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-content: center;
    background-color: var(--buyer-text-color);
    border-radius: 5px;
    height: 78px;
}

.ratings__block__stars {
    width: 10rem;
    height: 2.4rem;
    background-image: url(../images/icon-star.svg);
    background-repeat: space no-repeat;
}

.ratings__block__text {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--card-bg-color);
}

.buyer {
    display: grid;
    grid-auto-flow: row;
    background-color: var(--card-bg-color);
    color: var(--buyer-text-color);
    padding: 4rem 2.5rem 2.9rem 3.2rem;
    border-radius: 0.8rem;
}

.buyer__info {
    display: grid;
    grid-template-areas: "image name"
                         "image verified";
    justify-content: start;
    align-items: center;
    column-gap: 2.2rem;
    margin-bottom: 2.8rem;
}

.buyer__info__img {
    grid-area: image;
    height: 4rem;
    border-radius: 50%;
}

.buyer__info__name {
    grid-area: name;
    font-size: 1.3rem;
    font-weight: 500;
}

.buyer__info__verified {
    grid-area: verified;
    font-size: 1.3rem;
    color: var(--verified-color);
}

.buyer__text {
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.attribution {
    height: 3rem;
    font-size: 1.2rem;
    padding: 2rem;
}